{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Home{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <p>
    <input type="file" id="avatar" name="avatar" capture="environment" accept="video/*" />
    <input type = "submit"/>
    <video id="video">Video stream not available.</video>
  <button id="startbutton">Take photo</button>
  <canvas id="canvas"> </canvas>
<div class="output">
  <img id="photo" alt="The screen capture will appear in this box." />
</div>
  </p>
{% endblock content %}